<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section>
            <h3 class="font-bold mb-2">Assignments</h3>
            <ul>
                <li v-for="assignment in assignments.filter(a => ! a.completed)" :key="assignment.id">
                    <label>
                        {{ assignment . name }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>

        </section>
       
        <section class="mt-8" v-show="assignments.filter(a => a.completed).length">
            <h3 class="font-bold mb-2">Completed Assignments</h3>
            <ul>
                <li v-for="assignment in assignments.filter(a => a.completed)" :key="assignment.id">
                    <label>
                        {{ assignment . name }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>

        </section>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [{
                            name: 'Wake Up',
                            completed: false,
                            id: 1
                        },
                        {
                            name: 'Brush Teeth',
                            completed: false,
                            id: 2
                        },
                        {
                            name: 'Shower',
                            completed: false,
                            id: 3
                        },
                    ]
                }
            },
        }

        Vue.createApp(app).mount('#app');
    </script>
</body>

</html>
